@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --polar-night-1: #2e3440;
        --polar-night-2: #3b4252;
        --polar-night-3: #434c5e;
        --polar-night-4: #4c566a;
        --snow-storm-1: #d8dee9;
        --snow-storm-2: #e5e9f0;
        --snow-storm-3: #eceff4;
        --frost-1: #8fbcbb;
        --frost-2: #88c0d0;
        --frost-3: #81a1c1;
        --frost-4: #5e81ac;
        --aurora-red: #bf616a;
        --aurora-orange: #d08770;
        --aurora-yellow: #ebcb8b;
        --aurora-green: #a3be8c;
        --aurora-purple: #b48ead;

        --background: 218 27% 94%;
        --foreground: 220 16% 22%;
        --card: 0 0% 100%;
        --card-foreground: 220 16% 22%;
        --popover: 0 0% 100%;
        --popover-foreground: 220 16% 22%;
        --primary: 193 43% 67%;
        --primary-foreground: 220 16% 22%;
        --secondary: 219 28% 88%;
        --secondary-foreground: 220 16% 22%;
        --muted: 219 28% 88%;
        --muted-foreground: 219 17% 56%;
        --accent: 218 27% 92%;
        --accent-foreground: 220 16% 22%;
        --destructive: 354 42% 56%;
        --destructive-foreground: 218 27% 94%;
        --border: 218 27% 92%;
        --input: 219 28% 88%;
        --ring: 193 43% 67%;
        --chart-1: 179 25% 65%;
        --chart-2: 193 43% 67%;
        --chart-3: 210 34% 63%;
        --chart-4: 213 32% 52%;
        --chart-5: 311 20% 63%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 220 16% 22%;
        --foreground: 218 27% 94%;
        --card: 222 16% 28%;
        --card-foreground: 218 27% 94%;
        --popover: 222 16% 28%;
        --popover-foreground: 218 27% 94%;
        --primary: 193 43% 67%;
        --primary-foreground: 220 16% 22%;
        --secondary: 220 16% 36%;
        --secondary-foreground: 218 27% 94%;
        --muted: 220 16% 36%;
        --muted-foreground: 217 27% 74%;
        --accent: 220 16% 36%;
        --accent-foreground: 218 27% 94%;
        --destructive: 354 42% 56%;
        --destructive-foreground: 218 27% 94%;
        --border: 220 16% 36%;
        --input: 220 16% 36%;
        --ring: 193 43% 67%;
        --chart-1: 179 25% 65%;
        --chart-2: 193 43% 67%;
        --chart-3: 210 34% 63%;
        --chart-4: 213 32% 52%;
        --chart-5: 311 20% 63%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
